@mixin button-default() {
    .btn {
        font-size: .8rem;
        transition: all 0.3s ease-in-out;
        &.btn-sm {
            padding-top: .2rem;
            padding-bottom: .2rem;
        }
        &.btn-lg {
            padding-top: .7rem;
            padding-bottom: .7rem;
            font-size: 1.1rem;
        }
        &.btn-solid {
            @include button-type(solid, $color-light, $color-light-highlight, $color-dark);
        }
        &.btn-outline {
            @include button-type(outline, #FFFFFF, $color-light-highlight, $color-dark);
        }
        &.btn-square {
            @include button-type(square, #FFFFFF, $color-light-highlight, $color-dark);
        }
        &.btn-brand {
            transition: all 0.3s ease-in-out;
            color: $color-light;
            text-align: left;
            i {
                background-color: #00000033;
                display: inline-block;
                width: 2.0625rem;
                line-height: 2.1rem;
                margin: -0.375rem -0.75rem;
                text-align: center;
                &+span {
                    margin-left: 1.5rem;
                    text-align: center;
                }
            }
            &.facebook {
                @include brand-theme(#3b5998, #30497c);
            }
            &.behance {
                @include brand-theme(#1769ff, #0055f0);
            }
            &.css3 {
                @include brand-theme(#0170ba, #015994);
            }
            &.dribbble {
                @include brand-theme(#ea4c89, #e62a72);
            }
            &.flickr {
                @include brand-theme(#ff0084, #d90070);
            }
            &.github {
                @include brand-theme(#4183c4, #3570aa);
            }
            &.googlePlus {
                @include brand-theme(#ba3929, #ba3929);
            }
            &.html5 {
                @include brand-theme(#e34f26, #e34f26);
            }
            &.instagram {
                @include brand-theme(#517fa4, #446b8a);
            }
            &.openid {
                @include brand-theme(#f78c40, #f5761b);
            }
            &.pinterest {
                @include brand-theme(#cb2027, #aa1b21);
            }
            &.reddit {
                @include brand-theme(#ff4500, #d93b00);
            }
            &.spotify {
                @include brand-theme(#1db954, #169a45);
            }
            &.stackOverflow {
                @include brand-theme(#fe7a15, #ec6701);
            }
            &.tumblr {
                @include brand-theme(#32506d, #263d53);
            }
            &.twitter {
                @include brand-theme(#00aced, #0090c7);
            }
            &.vimeo {
                @include brand-theme(#aad450, #9bcc32);
            }
            &.vk {
                @include brand-theme(#45668e, #385474);
            }
            &.xing {
                @include brand-theme(#026466, #013f40);
            }
            &.yahoo {
                @include brand-theme(#400191, #2f016b);
            }
            &.youtube {
                @include brand-theme(#b00, #950000);
            }
        }
    }
    .navbar-toggler {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
}

@mixin button-type($type, $background-color, $background-color-highlight, $color) {
    @if $type=='solid' {
        border: 0px;
        background-color: $background-color;
        color: $color;
        &.btn-pills {
            border-radius: 50px;
        }
        &.btn-square {
            border-radius: 0;
        }
        &:hover {
            background-color: $background-color-highlight;
            color: $color;
            transition: all 0.3s ease-in-out;
        }
        &:focus {
            outline: none;
            box-shadow: 2px 2px 5px -2px $color-dark-highlight;
            background-color: $background-color-highlight;
            color: $color;
        }
        @include button-theme($type);
    }
    @else if $type=='outline' {
        border: solid 1px $background-color-highlight;
        background-color: $background-color;
        color: $color;
        &.btn-pills {
            border-radius: 50px;
        }
        &.btn-square {
            border-radius: 0;
        }
        &:hover {
            background-color: $background-color-highlight;
            color: $color;
            transition: all 0.3s ease-in-out;
        }
        &:focus {
            outline: none;
            box-shadow: 2px 2px 5px -2px $color-dark-highlight;
            background-color: $background-color-highlight;
            color: $color;
        }
        @include button-theme($type);
    }
}

@mixin button-theme($type) {
    @if $type=='solid' {
        &.btn-primary {
            border: 0px;
            background-color: $color-primary;
            color: $color-light;
            &:hover {
                background-color: $color-primary-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-primary-highlight;
                color: $color-light;
            }
        }
        &.btn-secondary {
            border: 0px;
            background-color: $color-secondary;
            color: $color-light;
            &:hover {
                background-color: $color-secondary-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-secondary-highlight;
                color: $color-light;
            }
        }
        &.btn-success {
            border: 0px;
            background-color: $color-success;
            color: $color-light;
            &:hover {
                background-color: $color-success-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-success-highlight;
                color: $color-light;
            }
        }
        &.btn-warning {
            border: 0px;
            background-color: $color-warning;
            color: $color-light;
            &:hover {
                background-color: $color-warning-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-warning-highlight;
                color: $color-light;
            }
        }
        &.btn-danger {
            border: 0px;
            background-color: $color-danger;
            color: $color-light;
            &:hover {
                background-color: $color-danger-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-danger-highlight;
                color: $color-light;
            }
        }
        &.btn-info {
            border: 0px;
            background-color: $color-info;
            color: $color-light;
            &:hover {
                background-color: $color-info-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-info-highlight;
                color: $color-light;
            }
        }
        &.btn-light {
            border: 0px;
            background-color: $color-light;
            color: $color-dark;
            &:hover {
                background-color: $color-light-highlight;
                color: $color-dark;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-light-highlight;
                color: $color-dark;
            }
        }
        &.btn-dark {
            border: 0px;
            background-color: $color-dark;
            color: $color-light;
            &:hover {
                background-color: $color-dark-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 1px 2px 4px $color-dark-highlight;
                background-color: $color-dark-highlight;
                color: $color-light;
            }
        }
    }
    @else if $type=='outline' {
        &.btn-primary {
            border: solid 1px $color-primary-highlight;
            background-color: #FFFFFF;
            color: $color-primary;
            &:hover {
                background-color: $color-primary-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-primary-highlight;
                color: $color-light;
            }
        }
        &.btn-secondary {
            border: solid 1px $color-secondary-highlight;
            background-color: #FFFFFF;
            color: $color-secondary;
            &:hover {
                background-color: $color-secondary-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-secondary-highlight;
                color: $color-light;
            }
        }
        &.btn-success {
            border: solid 1px $color-success-highlight;
            background-color: #FFFFFF;
            color: $color-success;
            &:hover {
                background-color: $color-success-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-success-highlight;
                color: $color-light;
            }
        }
        &.btn-warning {
            border: solid 1px $color-warning-highlight;
            background-color: #FFFFFF;
            color: $color-warning;
            &:hover {
                background-color: $color-warning-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-warning-highlight;
                color: $color-light;
            }
        }
        &.btn-danger {
            border: solid 1px $color-danger-highlight;
            background-color: #FFFFFF;
            color: $color-danger;
            &:hover {
                background-color: $color-danger-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-danger-highlight;
                color: $color-light;
            }
        }
        &.btn-info {
            border: solid 1px $color-info-highlight;
            background-color: #FFFFFF;
            color: $color-info;
            &:hover {
                background-color: $color-info-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-info-highlight;
                color: $color-light;
            }
        }
        &.btn-light {
            border: solid 1px $color-light-highlight;
            background-color: #FFFFFF;
            color: $color-light-highlight;
            &:hover {
                background-color: $color-light-highlight;
                color: $color-dark;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-light-highlight;
                color: $color-dark;
            }
        }
        &.btn-dark {
            border: solid 1px $color-dark-highlight;
            background-color: #FFFFFF;
            color: $color-dark;
            &:hover {
                background-color: $color-dark-highlight;
                color: $color-light;
                transition: all 0.3s ease-in-out;
            }
            &:focus {
                outline: none;
                box-shadow: 2px 2px 5px -2px $color-dark-highlight;
                background-color: $color-dark-highlight;
                color: $color-light;
            }
        }
    }
}

@mixin brand-theme($background-color, $background-color-highlight) {
    background-color: $background-color;
    &:hover {
        transition: all 0.3s ease-in-out;
        background-color: $background-color-highlight;
    }
    &:focus {
        box-shadow: none;
    }
}