@mixin card-default() {
    .card {
        
        &-header {
            font-size: .9rem;
            font-family: 'Cocogoose';
            color: $color-dark;
        }
        
        &-body {
            font-size: .8rem;
            
            .card-title {
                font-size: 1rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: bold;
                color: $color-dark;
            }
            
            .card-subtitle {
                font-size: .8rem;
                margin-top: -10px;
                font-style: italic;
            }
        }
        
        &-footer {
            font-size: .8rem;
            color: $color-dark;
        }
        
        &-img-overlay {
            .card-title {
                color: $color-light;
            }

            .card-text {
                color: $color-light;
            }
        }
        
        @include card-style(normal);

        &.card-outline {
            @include card-style(outline);
        }

        &.card-accent {
            @include card-style(accent);
        }
    }
}

@mixin card-style($style) {
    @if $style == 'normal' {
        @include card-theme($style);
    }
    @else if $style == 'outline' {
        @include card-theme($style);
    }
    @else if $style == 'accent' {
        @include card-theme($style);
    }
}

@mixin card-theme($style) {
    @if $style == 'normal' {
        &.card-primary {
            background-color: $color-primary;
            color: $color-light;
            border: none;

            & .card-header {
                background-color: $color-primary-highlight;
                color: $color-light;
            }

            & .card-body {
                .card-title {
                    color: $color-light;
                }
            }
        }
        &.card-secondary {
            background-color: $color-secondary;
            color: $color-light;
            border: none;

            & .card-header {
                background-color: $color-secondary-highlight;
                color: $color-light;
            }

            & .card-body {
                .card-title {
                    color: $color-light;
                }
            }
        }
        &.card-success {
            background-color: $color-success;
            color: $color-light;
            border: none;

            & .card-header {
                background-color: $color-success-highlight;
                color: $color-light;
            }

            & .card-body {
                .card-title {
                    color: $color-light;
                }
            }
        }
        &.card-warning {
            background-color: $color-warning;
            color: $color-light;
            border: none;

            & .card-header {
                background-color: $color-warning-highlight;
                color: $color-light;
            }

            & .card-body {
                .card-title {
                    color: $color-light;
                }
            }
        }
        &.card-danger {
            background-color: $color-danger;
            color: $color-light;
            border: none;

            & .card-header {
                background-color: $color-danger-highlight;
                color: $color-light;
            }

            & .card-body {
                .card-title {
                    color: $color-light;
                }
            }
        }
        &.card-info {
            background-color: $color-info;
            color: $color-light;
            border: none;

            & .card-header {
                background-color: $color-info-highlight;
                color: $color-light;
            }

            & .card-body {
                .card-title {
                    color: $color-light;
                }
            }
        }
        &.card-light {
            background-color: $color-light;
            color: $color-dark;
            border: none;

            & .card-header {
                background-color: $color-light-highlight;
                color: $color-dark;
            }

            & .card-body {
                .card-title {
                    color: $color-dark;
                }
            }
        }
        &.card-dark {
            background-color: $color-dark;
            color: $color-light;
            border: none;

            & .card-header {
                background-color: $color-dark-highlight;
                color: $color-light;
            }

            & .card-body {
                .card-title {
                    color: $color-light;
                }
            }
        }
    }
    @else if $style == 'outline' {
        &.card-primary {

        }
        &.card-secondary {
            
        }
        &.card-success {
            
        }
        &.card-warning {
            
        }
        &.card-danger {
            
        }
        &.card-info {
            
        }
        &.card-light {
            
        }
        &.card-dark {
            
        }
    }
    @else if $style == 'accent' {
        &.card-primary {

        }
        &.card-secondary {
            
        }
        &.card-success {
            
        }
        &.card-warning {
            
        }
        &.card-danger {
            
        }
        &.card-info {
            
        }
        &.card-light {
            
        }
        &.card-dark {
            
        }
    }
}

// @mixin card-theme() {
    //     // Solid Cards
    //     &.card-primary {
        //         @include card-design($color-primary, $color-light, solid);
//     }
//     &.card-secondary {
//         @include card-design($color-secondary, $color-light, solid);
//     }
//     &.card-success {
//         @include card-design($color-success, $color-light, solid);
//     }
//     &.card-warning {
//         @include card-design($color-warning, $color-light, solid);
//     }
//     &.card-danger {
//         @include card-design($color-danger, $color-light, solid);
//     }
//     &.card-info {
//         @include card-design($color-info, $color-light, solid);
//     }
//     &.card-light {
//         @include card-design($color-light, $color-dark, solid);
//     }
//     &.card-dark {
//         @include card-design($color-dark, $color-light, solid);
//     }

//     // Outline Cards
//     &.card-outline-primary {
//         @include card-design($color-primary, $color-light, outline);
//     }
//     &.card-outline-secondary {
//         @include card-design($color-secondary, $color-light, outline);
//     }
//     &.card-outline-success {
//         @include card-design($color-success, $color-light, outline);
//     }
//     &.card-outline-warning {
//         @include card-design($color-warning, $color-light, outline);
//     }
//     &.card-outline-danger {
//         @include card-design($color-danger, $color-light, outline);
//     }
//     &.card-outline-info {
//         @include card-design($color-info, $color-light, outline);
//     }
//     &.card-outline-light {
//         @include card-design($color-light-highlight, $color-dark, outline);
//     }
//     &.card-outline-dark {
//         @include card-design($color-dark, $color-light, outline);
//     }

//     // Accent Cards
//     &.card-accent-primary {
//         @include card-design($color-primary, $color-light, accent);
//     }
//     &.card-accent-secondary {
//         @include card-design($color-secondary, $color-light, accent);
//     }
//     &.card-accent-success {
//         @include card-design($color-success, $color-light, accent);
//     }
//     &.card-accent-warning {
//         @include card-design($color-warning, $color-light, accent);
//     }
//     &.card-accent-danger {
//         @include card-design($color-danger, $color-light, accent);
//     }
//     &.card-accent-info {
//         @include card-design($color-info, $color-light, accent);
//     }
//     &.card-accent-light {
//         @include card-design($color-light-highlight, $color-dark, accent);
//     }
//     &.card-accent-dark {
//         @include card-design($color-dark, $color-light, accent);
//     }

//     // Highlighted Cards
//     &.card-primary-highlight {
//         @include card-design($color-primary-highlight, $color-light, highlight);
//     }
//     &.card-secondary-highlight {
//         @include card-design($color-secondary-highlight, $color-light, highlight);
//     }
//     &.card-success-highlight {
//         @include card-design($color-success-highlight, $color-light, highlight);
//     }
//     &.card-warning-highlight {
//         @include card-design($color-warning-highlight, $color-light, highlight);
//     }
//     &.card-danger-highlight {
//         @include card-design($color-danger-highlight, $color-light, highlight);
//     }
//     &.card-info-highlight {
//         @include card-design($color-info-highlight, $color-light, highlight);
//     }
//     &.card-light-highlight {
//         @include card-design($color-light-highlight, $color-dark, highlight);
//     }
//     &.card-dark-highlight {
//         @include card-design($color-dark-highlight, $color-light, highlight);
//     }
// }

// @mixin card-design($background-color, $color, $type) {
//     @if $type == 'solid' {
//         background-color: $background-color;
//         color: $color;
        
//         & .card-header {
//             background-color: $background-color + '-highlight';
//             color: $color;
//         }
    
//        & .card-body {
//             color: $color;
    
//             .card-title {
//                 color: $color;
//             }
//         }
        
//         & .card-footer {
//             background-color: $background-color + '-highlight';
//             color: $color;
//         }
//     }
//     @else if $type == 'outline' {
//         border: solid 1px $background-color;
//     }
//     @else if $type == 'accent' {
//         border-top: solid 2px $background-color;
//     }
//     @else if $type == 'highlight' {
//         background-color: $background-color;
//     }
// }