// Primary Colors
$color-primary: #00a8ff;
$color-primary-dark: #0097e6;

// Secondary Colors
$color-secondary: #7f8fa6;
$color-secondary-highlight: #718093;

// Success Colors
$color-success: #4cd137;
$color-success-highlight: #44bd32;

// Warning Colors
$color-warning: #fbc531;
$color-warning-highlight: #e1b12c;

// Danger Colors
$color-danger: #e84118;
$color-danger-highlight: #c23616;

// Info Colors
$color-info: #273c75;
$color-info-highlight: #192a56;

// Light Colors
$color-light: #f5f6fa;
$color-light-highlight: #dcdde1;

// Dark Colors
$color-dark: #353b48;
$color-dark-highlight: #2f3640;