// Text Themes
@mixin text-theme() {
    .text-primary {
        color: $color-primary;
    }
    .text-secondary {
        color: $color-secondary;
    }
    .text-success {
        color: $color-success;
    }
    .text-warning {
        color: $color-warning;
    }
    .text-danger {
        color: $color-danger;
    }
    .text-info {
        color: $color-info;
    }
    .text-light {
        color: $color-light;
    }
    .text-dark {
        color: $color-dark;
    }
}

// Text Display
@mixin text-display() {
    .display-1 {
        font-size: 3rem;
    }
    .display-2 {
        font-size: 2.5rem;
    }
    .display-3 {
        font-size: 2rem;
    }
    .display-4 {
        font-size: 1.5rem;
    }
    .display-5 {
        font-size: 1rem;
    }
}

// Background Color
@mixin background-theme() {
    .agm-bg-primary {
        background-color: $color-primary !important;
    }
    .agm-bg-primary-light {
        background-color: $color-primary-highlight;
    }
    .agm-bg-secondary {
        background-color: $color-secondary;
    }
    .agm-bg-secondary-light {
        background-color: $color-secondary-highlight;
    }
    .agm-bg-success {
        background-color: $color-success;
    }
    .agm-bg-success-light {
        background-color: $color-success-highlight;
    }
    .agm-bg-warning {
        background-color: $color-warning;
    }
    .agm-bg-warning-light {
        background-color: $color-warning-highlight;
    }
    .agm-bg-danger {
        background-color: $color-danger;
    }
    .agm-bg-danger-light {
        background-color: $color-danger-highlight;
    }
    .agm-bg-info {
        background-color: $color-info;
    }
    .agm-bg-info-light {
        background-color: $color-info-highlight;
    }
    .agm-bg-light {
        background-color: $color-light;
    }
    .agm-bg-light-light {
        background-color: $color-light-highlight;
    }
    .agm-bg-dark {
        background-color: $color-dark;
    }
    .agm-bg-dark-light {
        background-color: $color-dark-highlight;
    }
    .agm-bg-white {
        background-color: #FFFFFF;
    }
}