@mixin navbar() {
    .navbar {
        z-index: 1000;
        @include navbar-theme($color-light, $color-dark);
        &.navbar-light {
            @include navbar-theme($color-light, $color-dark);
        }
        &.navbar-dark {
            @include navbar-theme($color-dark, $color-light);
        }
        &-brand {
            img {
                margin-right: 1rem;
            }
            a {
                text-decoration: none;
            }
        }
        &-nav {
            .nav-item {
                margin-right: 0px 10px;
                .nav-link {
                    a {
                        vertical-align: middle;
                    }
                    i {
                        font-size: 1.1rem;
                        margin-top: .7rem;
                    }
                    img {
                        float: left;
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                    }
                }
            }
        }
        &-burger {
            position: relative;
            font-size: 1.2rem;
            color: $color-dark-highlight;
            cursor: pointer;
        }
    }
}

@mixin navbar-side() {
    .navbar-side {
        @include navbar-side-theme($color-light, $color-light-highlight, $color-dark, $color-dark-highlight, #00cec9);
        &.navbar-side-light {
            @include navbar-side-theme($color-light, $color-light-highlight, $color-dark, $color-dark-highlight, #00cec9);
        }
        &.navbar-side-dark {
            @include navbar-side-theme($color-dark, $color-dark-highlight, $color-light, $color-light-highlight, #00cec9);
        }
    }
    .floating-btn {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 30px;
        right: 30px;
        background-color: $color-primary;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        i {
            font-size: 1.5rem;
            margin-top: 20px;
        }
        &:hover {
            transition: all 0.3s ease-in-out;
            background-color: darken($color-primary, 5%);
        }
    }
}

@mixin navbar-theme($background-color, $color) {
    background-color: $background-color;
    .navbar-brand {
        a {
            text-decoration: none;
            h1 {
                color: $color;
            }
        }
    }
    .navbar-custom {
        position: relative;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            li {
                list-style: none;
                position: relative;
                a {
                    line-height: 35px;
                    padding: 0px 20px;
                    color: $color;
                    text-decoration: none;
                    display: block;
                    i {
                        margin: 0px 10px;
                        font-size: .9rem;
                    }
                    &:hover {
                        color: lighten($color, 20%);
                        transition: all 0.3s ease-in-out;
                    }
                }
                &.active {
                    transition: all 0.3s ease-in-out;
                    color: darken($color, 10%);
                    border-bottom: solid 1px $color;
                    a i {
                        transform: rotate(90deg);
                        transition: all 0.3s ease-in-out;
                    }
                    &>ul {
                        display: block;
                        transition: all 0.3s ease-in-out;
                    }
                }
                & ul li:hover>a {
                    background-color: darken($background-color, 10%);
                    color: $color;
                    transition: all 0.3s ease-in-out;
                }
                ul {
                    position: absolute;
                    left: 0;
                    background-color: rgba(darken($background-color, 5%), .9);
                    display: none;
                    padding: 10px 0px 0px 0px;
                    border-radius: 3px;
                    transition: all 0.3s ease-in-out;
                    overflow: hidden;
                    li {
                        display: block;
                        width: 200px;
                        a {
                            font-size: .7rem;
                            padding: 0px 0px 0px 45px;
                        }
                        &.active {
                            a {
                                background-color: darken($background-color, 10%);
                                color: $color;
                                i {
                                    transform: rotate(90deg);
                                    transition: all 0.3s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu-icon {
        color: $color;
        font-size: .9rem;
        cursor: pointer;
        display: none;
    }
    @media(max-width: 768px) {
        .menu-icon {
            display: block;
        }
        .navbar-custom {
            position: absolute;
            width: 100%;
            top: 60px;
            left: -100%;
            background-color: rgba(darken($background-color, 5%), .9);
            transition: all 0.3s ease-in-out;
            ul {
                display: block;
                li {
                    a {
                        padding: 5px 0px 5px 40px;
                        &:hover {
                            background-color: rgba(darken($background-color, 10%), .9);
                        }
                    }
                    &.active {
                        transition: all 0.3s ease-in-out;
                        color: darken($color, 10%);
                        border-radius: 3px;
                        a i {
                            transform: rotate(90deg);
                            transition: all 0.3s ease-in-out;
                        }
                        & ul {
                            position: relative;
                            border-radius: 0;
                            padding: 0;
                            li {
                                width: 100%;
                                &.active {
                                    a {
                                        background-color: darken($background-color, 10%);
                                        color: $color;
                                        i {
                                            transform: rotate(90deg);
                                            transition: all 0.3s ease-in-out;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.open {
                left: 0;
            }
        }
    }
}

@mixin navbar-side-theme($background-color, $background-color-highlight, $color, $color-highlight, $label-color) {
    background-color: $background-color;
    overflow-y: scroll;
    padding: .5rem 0;
    height: 500px;
    &::-webkit-scrollbar {
        display: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: $background-color;
        li {
            position: relative;
            &.navbar-label {
                background-color: $background-color;
                margin: 15px 0px 10px 0px;
                color: $label-color;
                font-size: 0.7rem;
                text-transform: uppercase;
                font-weight: bold;
                padding-left: 1rem;
            }
            a {
                display: block;
                text-decoration: none;
                color: $color;
                text-align: left;
                position: relative;
                margin-block-start: 0px !important;
                margin-block-end: 0px !important;
                p {
                    display: block;
                    font-size: 0.8rem;
                    padding: 15px 0px 15px 2rem;
                    margin-block-start: 0em !important;
                    margin-block-end: 0em !important;
                    transition: all 0.2s ease-in-out;
                    i {
                        float: right;
                        margin: .3rem 1.5rem 0 0;
                        color: $color;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            &:hover>a p {
                background-color: $background-color-highlight;
                color: $color-highlight;
                transition: all 0.3s ease-in-out;
            }
            &.active {
                background-color: $background-color-highlight;
                a p {
                    color: $color;
                    i {
                        transform: rotate(90deg);
                        transition: all 0.3s ease-in-out;
                    }
                }
                &>.items {
                    display: block;
                    transition: all 0.3s ease-in-out;
                    li {
                        display: block;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            & ul li:hover>a p {
                background-color: darken($background-color-highlight, 10%);
                color: $color-highlight;
                transition: all 0.3s ease-in-out;
            }
            & ul li.active {
                a p {
                    background-color: darken($background-color-highlight, 10%);
                    color: $color;
                    i {
                        transform: rotate(90deg);
                        transition: all 0.3s ease-in-out;
                    }
                }
                &>.items {
                    display: block;
                    transition: all 0.3s ease-in-out;
                    li {
                        display: block;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
        li ul {
            position: relative;
            height: auto;
            min-width: 200px;
            padding: 0;
            margin: 0;
            background-color: $background-color;
            display: none;
            list-style: none;
            transition: all 0.3s ease-in-out;
            a {
                p {
                    padding-left: 3rem;
                    background-color: $background-color;
                }
            }
        }
        li ul li ul {
            position: relative;
            height: auto;
            min-width: 200px;
            padding: 0;
            margin: 0;
            background-color: $background-color;
            display: none;
            list-style: none;
            transition: all 0.3s ease-in-out;
            a {
                p {
                    padding-left: 5rem;
                }
            }
        }
    }
}

@keyframes moveFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}