@mixin table-default() {
    .table {
        thead {
            th,
            td {
                font-size: .8rem;
                vertical-align: middle;
            }
        }
        tbody {
            th,
            td {
                font-size: .7rem;
                vertical-align: middle;
            }
        }
        &.table-hover {
            tbody {
                tr:hover {
                    cursor: pointer;
                }
            }
        }
    }
}