@mixin table-default() {
    .table {
        thead {
            th,
            td {
                font-size: .9rem;
            }
        }
        tbody {
            th,
            td {
                font-size: .8rem;
            }
        }
        &.table-hover {
            cursor: pointer;
        }
    }
}