// Standard style for Headers
@mixin header-text() {
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Cocogoose';
        color: $color-dark;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.2rem;
    }
}