@mixin toast-default() {
    .toaster {
        @include toast-theme(solid);
        position: fixed;
        background-color: rgba($color-light, 0.9);
        width: 300px;
        display: none;
        border-radius: 3px;
        box-shadow: 2px 2px 5px -2px $color-dark-highlight;
        z-index: 20000;
        margin-top: 10px;
        padding: 0px 10px;
        &-icon,
        &-message,
        &-close {
            padding: 10px 0px;
        }
        &-icon {
            color: $color-dark;
            i {
                font-size: 1rem;
                border: solid 1px $color-dark;
                padding: 10px;
                border-radius: 50%;
            }
        }
        &-message {
            padding-bottom: 0px;
            overflow-y: scroll;
            max-height: 150px;
            &::-webkit-scrollbar {
                display: none;
            }
            p {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: $color-dark;
                font-size: .8rem;
                padding-top: 7px;
                padding-left: 15px;
            }
        }
        &-close {
            margin-top: 6px;
            button {
                background-color: transparent;
                border: none;
                color: $color-dark;
                transition: all 0.2s ease-in-out;
                &:hover {
                    transition: all 0.2s ease-in-out;
                    color: $color-dark-highlight;
                }
                &:focus {
                    border: none;
                    outline: none;
                }
            }
        }
        &.toast-outline {
            @include toast-theme(outline);
            background-color: rgba($color-light, 0.9);
            border: solid 1px $color-light-highlight;
        }
        &.toast-square {
            border-radius: 0;
        }
        &.toast-pills {
            border-radius: 50px;
        }
    }
}

@mixin toast-theme($type) {
    @if $type=='solid' {
        &.toast-primary {
            background-color: rgba($color-primary, 0.8);
            .toaster-icon {
                color: $color-light;
                i {
                    border: solid 1px $color-light;
                }
            }
            .toaster-message {
                p {
                    color: $color-light;
                }
            }
            .toaster-close {
                button {
                    color: $color-light;
                    &:hover {
                        color: $color-light-highlight;
                    }
                }
            }
        }
        &.toast-secondary {
            background-color: rgba($color-secondary, 0.8);
            .toaster-icon {
                color: $color-light;
                i {
                    border: solid 1px $color-light;
                }
            }
            .toaster-message {
                p {
                    color: $color-light;
                }
            }
            .toaster-close {
                button {
                    color: $color-light;
                    &:hover {
                        color: $color-light-highlight;
                    }
                }
            }
        }
        &.toast-success {
            background-color: rgba($color-success, 0.8);
            .toaster-icon {
                color: $color-light;
                i {
                    border: solid 1px $color-light;
                }
            }
            .toaster-message {
                p {
                    color: $color-light;
                }
            }
            .toaster-close {
                button {
                    color: $color-light;
                    &:hover {
                        color: $color-light-highlight;
                    }
                }
            }
        }
        &.toast-warning {
            background-color: rgba($color-warning, 0.8);
            .toaster-icon {
                color: $color-light;
                i {
                    border: solid 1px $color-light;
                }
            }
            .toaster-message {
                p {
                    color: $color-light;
                }
            }
            .toaster-close {
                button {
                    color: $color-light;
                    &:hover {
                        color: $color-light-highlight;
                    }
                }
            }
        }
        &.toast-danger {
            background-color: rgba($color-danger, 0.8);
            .toaster-icon {
                color: $color-light;
                i {
                    border: solid 1px $color-light;
                }
            }
            .toaster-message {
                p {
                    color: $color-light;
                }
            }
            .toaster-close {
                button {
                    color: $color-light;
                    &:hover {
                        color: $color-light-highlight;
                    }
                }
            }
        }
        &.toast-info {
            background-color: rgba($color-info, 0.8);
            .toaster-icon {
                color: $color-light;
                i {
                    border: solid 1px $color-light;
                }
            }
            .toaster-message {
                p {
                    color: $color-light;
                }
            }
            .toaster-close {
                button {
                    color: $color-light;
                    &:hover {
                        color: $color-light-highlight;
                    }
                }
            }
        }
        &.toast-light {
            background-color: rgba($color-light, 0.8);
            .toaster-icon {
                color: $color-dark;
                i {
                    border: solid 1px $color-dark;
                }
            }
            .toaster-message {
                p {
                    color: $color-dark;
                }
            }
            .toaster-close {
                button {
                    color: $color-dark;
                    &:hover {
                        color: $color-dark-highlight;
                    }
                }
            }
        }
        &.toast-dark {
            background-color: rgba($color-dark, 0.8);
            .toaster-icon {
                color: $color-light;
                i {
                    border: solid 1px $color-light;
                }
            }
            .toaster-message {
                p {
                    color: $color-light;
                }
            }
            .toaster-close {
                button {
                    color: $color-light;
                    &:hover {
                        color: $color-light-highlight;
                    }
                }
            }
        }
    }
    @else if $type=='outline' {
        &.toast-primary {
            border: solid 1px $color-primary;
            .toaster-icon {
                color: $color-primary;
                i {
                    border: solid 1px $color-primary;
                }
            }
            .toaster-message {
                p {
                    color: $color-primary;
                }
            }
            .toaster-close {
                button {
                    color: $color-primary;
                    &:hover {
                        color: $color-primary-highlight;
                    }
                }
            }
        }
        &.toast-secondary {
            border: solid 1px $color-secondary;
            .toaster-icon {
                color: $color-secondary;
                i {
                    border: solid 1px $color-secondary;
                }
            }
            .toaster-message {
                p {
                    color: $color-secondary;
                }
            }
            .toaster-close {
                button {
                    color: $color-secondary;
                    &:hover {
                        color: $color-secondary-highlight;
                    }
                }
            }
        }
        &.toast-success {
            border: solid 1px $color-success;
            .toaster-icon {
                color: $color-success;
                i {
                    border: solid 1px $color-success;
                }
            }
            .toaster-message {
                p {
                    color: $color-success;
                }
            }
            .toaster-close {
                button {
                    color: $color-success;
                    &:hover {
                        color: $color-success-highlight;
                    }
                }
            }
        }
        &.toast-warning {
            border: solid 1px $color-warning;
            .toaster-icon {
                color: $color-warning;
                i {
                    border: solid 1px $color-warning;
                }
            }
            .toaster-message {
                p {
                    color: $color-warning;
                }
            }
            .toaster-close {
                button {
                    color: $color-warning;
                    &:hover {
                        color: $color-warning-highlight;
                    }
                }
            }
        }
        &.toast-danger {
            border: solid 1px $color-danger;
            .toaster-icon {
                color: $color-danger;
                i {
                    border: solid 1px $color-danger;
                }
            }
            .toaster-message {
                p {
                    color: $color-danger;
                }
            }
            .toaster-close {
                button {
                    color: $color-danger;
                    &:hover {
                        color: $color-danger-highlight;
                    }
                }
            }
        }
        &.toast-info {
            border: solid 1px $color-info;
            .toaster-icon {
                color: $color-info;
                i {
                    border: solid 1px $color-info;
                }
            }
            .toaster-message {
                p {
                    color: $color-info;
                }
            }
            .toaster-close {
                button {
                    color: $color-info;
                    &:hover {
                        color: $color-info-highlight;
                    }
                }
            }
        }
        &.toast-light {
            border: solid 1px $color-light-highlight;
            .toaster-icon {
                color: $color-light-highlight;
                i {
                    border: solid 1px $color-light-highlight;
                }
            }
            .toaster-message {
                p {
                    color: $color-light-highlight;
                }
            }
            .toaster-close {
                button {
                    color: $color-light;
                    &:hover {
                        color: $color-primary-highlight;
                    }
                }
            }
        }
        &.toast-dark {
            border: solid 1px $color-dark;
            .toaster-icon {
                color: $color-dark;
                i {
                    border: solid 1px $color-dark;
                }
            }
            .toaster-message {
                p {
                    color: $color-dark;
                }
            }
            .toaster-close {
                button {
                    color: $color-dark;
                    &:hover {
                        color: $color-dark-highlight;
                    }
                }
            }
        }
    }
}