@mixin border() {
  .agm-border {
    &-none {
      border: none;
      &-top {
        border: solid 1px $color-secondary;
        border-top: none;
      }
      &-right {
        border: solid 1px $color-secondary;
        border-right: none;
      }
      &-bottom {
        border: solid 1px $color-secondary;
        border-bottom: none;
      }
      &-left {
        border: solid 1px $color-secondary;
        border-left: none;
      }
    }
    &-top {
      border-top: solid 1px $color-secondary;
    }
    &-right {
      border-right: solid 1px $color-secondary;
    }
    &-bottom {
      border-bottom: solid 1px $color-secondary;
    }
    &-left {
      border-left: solid 1px $color-secondary;
    }
    @include border-theme();
  }
  .agm-rounded {
    border-radius: 5px;
    &-top {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      &-left {
        border-top-left-radius: 5px;
      }
      &-right {
        border-top-right-radius: 5px;
      }
    }
    &-right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      &-top {
        border-top-right-radius: 5px;
      }
      &-bottom {
        border-bottom-right-radius: 5px;
      }
    }
    &-bottom {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      &-left {
        border-bottom-left-radius: 5px;
      }
      &-right {
        border-bottom-right-radius: 5px;
      }
    }
    &-left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      &-top {
        border-top-left-radius: 5px;
      }
      &-bottom {
        border-bottom-left-radius: 5px;
      }
    }
    &-none {
      border-radius: 0px;
    }
    &-circle {
      border-radius: 50px;
    }
    &-sm {
      border-radius: 3px;
    }
    &-lg {
      border-radius: 10px;
    }
  }
}

@mixin border-theme() {
  & {
    border: solid 1px $color-secondary;
  }
  &.agm-border-primary {
    border: solid 1px $color-primary;
  }
  &.agm-border-secondary {
    border: solid 1px $color-secondary;
  }
  &.agm-border-success {
    border: solid 1px $color-success;
  }
  &.agm-border-warning {
    border: solid 1px $color-warning;
  }
  &.agm-border-danger {
    border: solid 1px $color-danger;
  }
  &.agm-border-info {
    border: solid 1px $color-info;
  }
  &.agm-border-light {
    border: solid 1px $color-light;
  }
  &.agm-border-dark {
    border: solid 1px $color-dark;
  }
}