// IMPORTS
@import 'colors';
@import 'fonts';
@import 'navbar';
@import 'texts';
@import 'card';
@import 'button';
@import 'form';
@import 'checkbox';
@import 'radio';
@import 'toggle';
@import 'toast';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body.agm-standard {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar {
        display: none;
    }
    @include navbar;
    @include navbar-side;
    @include text-default;
    @include button-default;
    @include card-default;
    @include form-default;
    @include checkbox-default;
    @include radio-default;
    @include toggle-default;
    @include toast-default;
}